 body {
    background-color: #EEEEEE;
    color: #373A40;
 }

 h3 {
    color: #DC5F00;
 }

 h5 {
    color: #686D76;
 }
 
 footer {
    background-color: #DC5F00;
    text-align: center;
 }

 div {
    margin-left: 20px;
 }