 body {
    background-color: #EEEEEE;
    color: #373A40;
 }

 a {
    margin-right: 10px;
 }

 h3 {
    color: #DC5F00;
 }

 h5 {
    color: #686D76;
 }
 
 footer {
    background-color: #DC5F00;
    text-align: center;
 }

 div {
    margin-left: 20px;
 }

 #footerDiv {
    margin-left: 0px;
    background-color: #DC5F00;
    height: 40px;
    margin-top: 20px;
 }