 body {
    background-color: #EEEEEE;
    color: #373A40;
 }

 a {
    margin-right: 10px;
 }

 h3 {
    color: #DC5F00;
 }

 h5 {
    color: #686D76;
 }
 
 footer {
    background-color: #DC5F00;
    text-align: center;
    position: absolute;
    width: 100%;
    margin-top: 20px;
    height: 50px;
    left: 0;
 }

 #header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 20px;
 }

 #content {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
   margin: 20px;
 }

 #aboutMe {
   grid-template: 1fr;
   margin: 20px;
 }

 #aboutMe>div {
   display: flex;
   gap: 10px;
 }

 #languagesAndMore {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }

 #footerDiv {
    margin-left: 0px;
    background-color: #DC5F00;
    margin-top: 20px;
    position: absolute;
    width: 100%;

 }

 footer * {
   margin: 0;
   padding: 0;
   position: relative;
   top: 25%;
 }

 .warning {
   color: rgb(202, 29, 29);
 }

 @media (max-width: 700px) {
   #content {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      margin: 20px;
    }
 }