body {
    background-color: #405D72;
    color: #FFF8F3;
    text-align: center;
 }

 img {
    height: 200px;   
    width: 200px;
    object-fit: cover;
    border-radius: 10px
 }

 #hobbiesTitle {
   grid-column: span 2;
   font-size: 2rem;
 }

 .card {
   background-color: #758694;
   border-radius: 30px;
 }

 #hobbiesMainBox {
   display: grid;
   grid-column: 1fr 1fr;
   gap: 30px;
 }

 @media (max-width: 600px) {
   #hobbiesMainBox {
      display: block;
      grid-column: 1fr;
    }

    .card h3 {
      padding-top:  20px;
    }

    .card p {
      padding-bottom: 20px;
    }
 }