body {
    background-color: #405D72;
    color: #FFF8F3;
    text-align: center;
 }

 img {
    height: 200px;   
    width: 200px;
    object-fit: cover;
    border-radius: 10px
 }

 .card {
   grid-column: span 1;
   background-color: #758694;
   border-radius: 30px;
   width: 400px;
 }

 .card>p {
  padding: 0%;
  margin: 20px;
  text-align: left
 }

 .card a {
  color: rgb(136, 212, 187);
 }

 #hobbiesMainBox {
   display: flex;
   justify-content: center;
   gap: 30px;
   margin: 20px;
 }

 @media (max-width: 600px) {
   #hobbiesMainBox {
      display: grid;
      grid-column: 1fr;
    }

    .card h3 {
      padding-top:  20px;
    }

    .card p {
      padding-bottom: 20px;
    }
 }