body {
    background-color: #405D72;
 }

 h1 {
  text-align: center;
  padding: 20px;
 }

 #hobbiesMainBox {
   display: flex;
   justify-content: center;
   gap: 30px;
   margin: 20px;
 }

 @media (max-width: 600px) {
  #hobbiesMainBox {
    display: grid;
  }
 }